body {
    background-color: rgb(126, 125, 125);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#buttoncontainer, #checkcontainer {
    text-align: center;
}

#checkcontainer {
    margin-bottom: 30px;
}

#resetbutton {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 0px;
    background-color: rgb(5, 161, 96);
    color: aliceblue;
}

#container {
    margin: auto;
    display: flex;
    width: 960px;
    height: 960px;
}

.text {
    color: aliceblue;
    font-size: 18px;
}

.boxwidth {
    width: 0px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1;
}

.square {
    flex: 1;
    background-color: aliceblue;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.hover {
    background-color: black;
}